<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nick.minesweeper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bomb"
        android:label="@string/bomb_striker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>


        <activity
            android:name=".WelcomeScreen"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize"
            android:label="@string/bomb_striker"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OptionsScreen" />
        <activity android:name=".HelpScreen" />
        <activity android:name=".GameScreen"></activity>
    </application>

</manifest>